<!-- <div class="container" fxLayout='column'fxLayoutgap=10> -->

    <div class="container" fxLayout="column"  fxLayoutGap="10%">
        <div class="row1" fxFlex="33%" fxFlex.md="65" ></div>

        <div class="row2" fxFlex="34%" fxLayout="row" >
          <div class="col1" fxFlex="33%" fxFlex.xs="0"  ></div>
          <div class="col2" fxFlex="34%" fxFlex.xs="100">
            <mat-card>
              <form class="example-form" >
                  <div fxLayoutAlign="center center"><img src='../../../assets/image/google.png' alt="google" width=30% height=100% ></div>
                  <mat-card-title fxLayoutAlign="center center"> Reset your password</mat-card-title>

                  <p fxLayoutAlign="center center">Enter new password</p>

                  <mat-form-field style="width:90%">
                      <input matInput placeholder="Password" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" #passwd="ngModel" [(ngModel)]="model.password" [type]="hide ? 'text' : 'password'">
                  </mat-form-field>
                  <div *ngIf="passwd.errors &&(passwd.touched || passwd.dirty)" class="alert alert-danger">
                          <div *ngIf="passwd?.errors.required"  style="color:rgb(196, 30, 19)">
                              password required
                          </div>
                          <div *ngIf="passwd?.errors.pattern" style="color:rgb(196, 30, 19)" >
                              password should have Lowercase letters, Uppercase letters, Numbers, Special characters and minimum lenght should be 8.
                          </div>
                          <!-- <mat-error class="alert" *ngIf="!lForm.controls['email'].valid && lForm.controls['email'].touched">provide a valid email</mat-error> -->
                      </div>

                     <mat-form-field style="width:90%">
                        <input matInput placeholder="Confirm password" name="confirmpassword" required  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" #confirmpassword="ngModel" [(ngModel)]="model.confirmpassword" [type]="hide ? 'text' : 'password'" >
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div *ngIf="confirmpassword.errors &&(confirmpassword.touched || confirmpassword.dirty)" class="alert alert-danger">
                         <div *ngIf="confirmpassword?.errors.required"  style="color:rgb(196, 30, 19)">confirm password required</div>
                         <div *ngIf="confirmpassword?.errors.pattern"  style="color:rgb(196, 30, 19)">
                                password should have Lowercase letters, Uppercase letters, Numbers, Special characters and minimum lenght should be 8.
                         </div>

                         </div>
                    <div>
                    <a class="link" routerLink="/login">Back</a>
                    <div  fxLayoutAlign="end end"><button mat-button id="nextbutton" (click)="postPassword()" >Next</button></div>
                    </div>
                      </form>
                    </mat-card>
          </div>
          <div col="col3" fxFlex="33%" fxFlex.xs="0"></div>
        </div>

        <div class="row3" fxFlex="33%"></div>
        </div>

