<!-- <div class="container" fxLayout='column'fxLayoutgap=10> -->

    <div class="container" fxLayout="column"  fxLayoutGap="10%">
        <div class="row1" fxFlex="33%" fxFlex.md="65" ></div>
      
        <div class="row2" fxFlex="34%" fxLayout="row" >
          <div class="col1" fxFlex="33%" fxFlex.xs="0"  ></div>
          <div class="col2" fxFlex="34%" fxFlex.xs="100">
            <mat-card>
              <form class="example-form" >
                  <div fxLayoutAlign="center center"><img src='../../../assets/image/google.png' alt="google" width=30% height=100% ></div>
                  <mat-card-title fxLayoutAlign="center center"> Find your email</mat-card-title>
                  
                  <p fxLayoutAlign="center center">Enter your phone number or recovery email</p>
                    <mat-form-field class="example-full-width" >
                      <input  type="text" matInput placeholder="Email or phone" name="email" required  [(ngModel)]="model.email" #emailref="ngModel">
                    
                    </mat-form-field>
                    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="aler alert-danger">
                      <div *ngIf="emailref.errors.required"  style="color:rebeccapurple">
                       email is required
                      </div>
                    </div>
                  
                    <div>
                    <a class="link" routerLink="/login">Back To Login?</a>
                    <div  fxLayoutAlign="end end"><button mat-button id="nextbutton" (click)="forgot_password()">Next</button></div>
                    </div>
                      </form>
                    </mat-card>
          </div>
          <div col="col3" fxFlex="33%" fxFlex.xs="0"></div>
        </div>
         
        <div class="row3" fxFlex="33%"></div>
        </div>
      
      
      