
<div  class="example-card" fxLayout="row">
      <div [ngClass]="{
      'grid-view':!toggle,
      'list-view': toggle
  }">

  <mat-card [ngClass]="{'grid-card':!toggle, 'list-card': toggle}" class="notescard" [ngStyle]="{'background-color':data.color}" *ngFor="let data of array | search:message" id="cardover" [ngStyle]="{'background-color':data.color}">

  <div>
  <mat-card-title   (click)= openDialog(data)>{{data.title}}</mat-card-title>
  </div>
      
  <div>
  <mat-card-content (click)= openDialog(data)>{{data.description}}</mat-card-content>
  </div>

  <mat-chip-list class="chip">
      <span *ngFor="let notedata of data.noteLabels">
        <span class="labelnames">{{notedata.label}}<mat-icon class="cross" style="font-size: 15px" (click)="deletelabel(data.id,notedata.id)">clear</mat-icon></span>
      </span>
  </mat-chip-list>


  <div class="mouseover">
  <button *ngIf="!data.isDeleted" mat-icon-button class="icon-button"><i class="material-icons" id="remind">touch_app</i></button>
  <button *ngIf="!data.isDeleted" mat-icon-button id="collaborator"><i class="material-icons" >person_add</i></button>
  <span *ngIf="!data.isDeleted"><app-change-color [Notesid]="data.id" (colorClick)="refresh($event)" (eventUpdate)="refresh($event)"></app-change-color></span>
  <button *ngIf="!data.isDeleted" mat-icon-button id="addimage"><i class="material-icons"> insert_photo</i></button>


  <span *ngIf="!data.isDeleted"><app-archive [Notesid]="data.id" (archiveClick)="refresh($event)"></app-archive></span>
  <app-more [model]="data" (deleteClick)="refresh($event)"  (eventEmitmore)="refresh($event)"></app-more>

  </div>
  
</mat-card>
</div>


</div>

